amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.4
cbor2==5.8.0
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
Django==6.0.3
django-appconf==1.2.0
django-cors-headers==4.9.0
django-countries==8.2.0
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-imagekit==6.1.0
django-js-asset==3.1.2
django-mptt==0.18.0
django-unfold==0.85.0
djangorestframework==3.17.0
drf-yasg==1.21.15
fastapi==0.135.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
Jinja2==3.1.6
kombu==5.6.2
loguru==0.7.3
MarkupSafe==3.0.3
msgpack==1.1.2
numpy==2.4.3
packaging==26.0
pilkit==3.0
pillow==12.1.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
py-draughts==1.6.4
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyOpenSSL==26.0.0
pyTelegramBotAPI==4.32.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.3.0
requests==2.32.5
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.5
starlette==0.52.1
tqdm==4.67.3
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn[standard]==0.42.0  # [standard] adds a WS backend (websockets) + uvloop/httptools for multi-worker prod
vine==5.1.0
wcwidth==0.6.0
win32_setctime==1.2.0
zope.interface==8.2
